@import "../global.scss";

.action
{
    position: fixed;
    bottom: 0rem ;
    padding: .5rem 0 .5rem 0;
    width: 100vw;
    background: linear-gradient(0deg, rgba(0,0,0,0.8718837876947654) 0%, rgba(255,255,255,0) 100%);;
    
    
    .addInput
    {
        margin-top: 0;
        width: 90%;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: .8rem;
        display: inline-block;
        border: 3px solid $primary;
        border-radius: 50px;
    }
    .addButton{
    
        display: inline-block;
        background: $secondary;
        border: none;
        font-size: 1rem;
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
    }
}