@import "../global.scss";

.cardView{
 
      max-height: 70vh;
      width: 100%;
      overflow-y: scroll;
  
  .card {
    padding: 1rem 1rem 2rem 1rem;
    min-height: 4rem;
    margin: 1rem;
    background-color: $secondary;
    position: relative;
    border-radius: 5px;
  
    .optionHolder {
      position: absolute;
      top: 0.5rem;
      right: .2rem;
  
      .button {
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
        border: none;
        font-size: 0.6rem;
        cursor: pointer;
      }
      .button:hover {
        background-color: $secondary;
        color: $black;
      }
    }
  
    .content {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 3% 97%;
        
        .checkBoxHolder {
        
        .checkbox {
          width: 1rem;
          height: 1rem;
          margin-right: 0.5rem;
        }
      }
  
      .contentHolder {
        p {
          display: inline;
        }
      }
    }
  }
}
